body {
    background: #f5d9df;
    font-family: "Nunito";
}

#mainNav {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover {
    color: #EA1C2C;
}

#mainNav .navbar-brand {
    color: #EA1C2C;
    
}

#slash span {
    color: #EA1C2C;
}

#slash h1 {
    font-weight:100;
    font-size:4rem;
}

.navbar.scrolled {
    background-color: rgb(222,192,222);
    transition: background 750ms;
}

@media (max-width: 1280px) {
    #slash h1{
        font-weight:100;
        font-size:3rem;
    }
}

h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.lead {
    color: #f49b8b;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}